#messages, #messages-cover {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  width: 200px;
}
#messages {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  overflow: hidden;
  background-color: $bg0;

  >div.message {
    margin-bottom: 8px;
  }
}

#messages-cover {
  height: 100%;
  background: linear-gradient( rgba(255, 255, 255, 0) 0%, $bg0 100% );
}